<header>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button routerLink="home" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Home
    </button>
    <button routerLink="forms" mat-button class="example-icon" aria-label="Example icon-button with share icon">
      Forms
    </button>
    <button routerLink="list" mat-button class="example-icon" aria-label="Example icon-button with share icon">
      List
    </button>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
